/cloud_storage/drive_credentials.json

# Ignore Python cache directories
__pycache__/
*.py[cod]
/venv/
Pipfile
Pipfile.lock
drive_credentials.json
emg_raw_data.csv
gesture_data.csv
quaternion_data.csv